:root {
    --primary: #264653;
    --secondary: #f4a261;
    --tertiary: #e76f51;
}

body {
    background-color: var(--primary);
}

.hide {
    display: none !important;
}

h1 {
    margin: 0px; /* prefer not working with default header margins */
}

/* START PAGE */
#start-page {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: white;
}

#start-page h1 {
    position: relative;
    top: 10%;
    font-size: 60px;
    font-weight: 800;
    color: var(--primary);
}

#start-page form {
    position: relative;
    top: 25%;
    width: 50%;
    margin: auto;
    padding: 5px;
    background: var(--primary);
    color: var(--secondary);
    border-radius: 5px;
}

#start-page form label, input, select {
    display: block;
    margin: auto;
    margin-top: 5px;
}

#start-page-button {
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0); /* transparent */
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

#start-page-button:hover {
    background-color: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--primary);
    box-shadow: 2px 2px 4px var(--secondary);
}

#start-page p {
    position: relative;
    top: 50%;
    margin: auto;
    font-size: 16px;
    color: var(--primary);
}

#start-page a {
    color: var(--primary);
    text-decoration-color: var(--secondary);
}

/* GAME PAGE */
/* GRID LAYOUT */
#game-page {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20px 150px auto 150px 20px;
    grid-template-rows: 20px 50px auto 200px 20px;
    text-align: center;
}

#menu {
    grid-column: 2;
    grid-row: 2 / span 2;
}

#page-title {
    grid-column: 3 / span 2;
    grid-row: 2;
}

#dynamic-box {
    grid-column: 3 / span 2;
    grid-row: 3;
    overflow: auto;
    padding-bottom: 20px;
}

#news-feed-container {
    grid-column: 2 / span 2;
    grid-row: 4;
    overflow: auto;
    border-top: 1px solid var(--secondary);
}

#advance-button-container {
    grid-column: 4;
    grid-row: 4;
    border-top: 1px solid var(--secondary);
}

/* GAME BOX */
/* MENU */
#menu button {
    height: 50px;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    background-color: rgba(0,0,0,0); /* transparent */
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

#menu button:hover {
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    color: var(--primary);
    box-shadow: 2px 2px 4px var(--secondary);
}

#menu .active-page {
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    color: var(--primary);
}

/* PAGE TITLE */
#page-title h1 {
    top: 0px;
    height: 50px;
    width: 80%;
    margin: auto;
    line-height: 50px;
    vertical-align: middle;
    font-size: 40px;
    text-align: center;
    color: var(--secondary);
    border-bottom: 1px solid var(--secondary);
}

/* DYNAMIC BOX */
table {
    border-collapse: collapse;
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

table, tr, th, td {
    border: 1px solid var(--secondary);
}

th, td {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.user-game-highlight {
    color: var(--tertiary) !important;
}

/* HOME PAGE */
.home-page-active {
    height: calc(100% - 20px);
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 180px 20px auto;
    padding-top: 20px;
}

.home-page-active div {
    overflow: auto;
}

.home-page-active table {
    margin: auto;
}

#standings-preview {
    grid-column: 1;
    grid-row: 1;
}

#recruits-preview {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 32px auto; /* header and table */
}

#recruits-preview h2 {
    grid-column: 1;
    grid-row: 1;
    margin: 0px;
    color: var(--secondary);
    font-size: 22px;
}

#recruits-preview table {
    grid-column: 1;
    grid-row: 2;
    overflow: auto;
}

#schedule-preview {
    grid-column: 1 / span 2;
    grid-row: 3;
}

/* ROSTER PAGE */
.roster-page-active {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 50px auto;
}

.roster-page-active .team-toggle-form {
    grid-column: 2;
    grid-row: 1;
}

.roster-page-active select {
    position: relative;
    top: 15px;
    height: 25px;
    width: 80%;
    margin: auto;
    background-color: rgba(0,0,0,0);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 0px;
}

#player-table {
    grid-column: 1 / span 2;
    grid-row: 2;
    position: relative;
    top: 5px;
    margin: auto;
}

/* SCHEDULE PAGE */
.schedule-week-header {
    color: var(--secondary);
}

.schedule-week-table {
    margin: auto;
}

/* STANDINGS PAGE */
#standings-table {
    position: relative;
    top: 20px;
    margin: auto;
}

/* RECRUITS PAGE */
#recruits-table {
    position: relative;
    top: 20px;
    margin: auto;
    margin-bottom: 20px;
}

.interest-bar-container {
    height: 10px;
    width: 100px;
    margin: auto;
    background-color: var(--tertiary);
    z-index: 1;
}

.interest-bar-progress {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: var(--secondary);
    z-index: 2;
}

.recruiting-options .recruiting-action-button:not(:last-child) {
    margin-right: 10px;
}

.recruiting-action-button {
    height: 20px;
    font-size: 14px;
    background-color: var(--secondary);
    color: var(--primary);
    border: 0px;
}

.recruiting-action-unavailable {
    background-color: var(--tertiary);
    text-decoration: line-through;
}

/* NEWS FEED */
#news-feed {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    color: var(--secondary);
    list-style-type: none;
}

#news-feed li:nth-child(odd) {
    background-color: rgba(250,250,250,0.05);
}

/* ADVANCE BUTTON */
#advance-button {
    position: relative;
    top: 50px;
    height: 100px;
    width: 80%;
    margin: auto;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    background-color: rgba(0,0,0,0); /* transparent */
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

#advance-button:hover {
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    color: var(--primary);
    box-shadow: 2px 2px 4px var(--secondary);
}